.App {
  padding: 2em;
  height: 100vh;
}

.App.failed {
  background: #f44b42;
}

.App .power {
  display: flex;
  justify-content: space-around;
  color: transparent;
  vertical-align: middle;
  height: 3em;

  transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: absolute;
  top: 0;
  lefT: 0;
  width: 100%;
  margin: 2em 0 0;
}

.App .power span {
  content: "download fresh\Agiphys";
  display: inline-block;
  padding: 1em 1.5em;
  background: #ff890f;
  color: #ffcf9e;
  border-radius: 5%;
  cursor: pointer;

  font: bold 16px monospace;
  text-transform: uppercase;
  text-align: center;
  white-space: pre;
}

.App.on .power {
  margin-top: -300px;
}

.App .loading {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
}
