.Inflist { width: 800px; margin: auto; }

.Inflist .item {
  border: 1.5px solid black;
  margin: 1em;
  padding: 1.5em; 
  display: flex;
  justify-content: center;
}

.Inflist .item iframe { border: none; }
